<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <title>EP20 Backend Template</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background: url('bg.png') fixed no-repeat;
            color: white;
            font-family: Lato, 'Sans-serif'
        }

        header {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            text-align: center;
            padding: 10px;
            /* border: 1px solid black; */
        }

        header h1 {
            margin-bottom: 20px;
        }

        .logo {
            width: 50%;
            margin: 0 auto;
            /* border: 1px solid black; */
        }

        .logo img {
            width: 350px;
            max-width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="EP20 Logo">
        </div>
        <h1>Energia Powered 20 Forms</h1>
        <p>
            Here I use Google Drive API to add the sent data to a specific Google Sheet <br>
            Please head to README.md for information about setup and usage.
        </p>
    </header>
</body>

</html>